a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video, input, textarea, button {
  border:0;
  font-size:100%;
  margin:0;
  padding:0;
  box-sizing:border-box
}
html, body {
  height:100%
}
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display:block
}
b, strong {
  font-weight:bold
}
img {
  color:transparent;
  font-size:0;
  vertical-align:middle;
  -ms-interpolation-mode:bicubic
}
li {
  display:list-item
}
table {
  border-collapse:collapse;
  border-spacing:0
}
th, td, caption {
  font-weight:normal;
  vertical-align:top;
  text-align:left
}
svg {
  overflow:hidden
}
input, textarea, button, a {
  outline:none;
  resize:none;
  box-sizing:border-box
}
