@import mixins
@import variables
// Фикс самодеятельности разных браузеров по увеличению шрифтов и растягиванию гридов
*
  max-height: 999999px
  min-width: 1px
  min-height: 1px
//
html
  height: 100%
  position: relative
  font-size: 7px
  +miw(768)
    font-size: 9px
  +miw(1200)
    font-size: 16px
body
  min-height: 100%
  height: auto !important
  position: relative
  padding-bottom: 6.94rem
  font-family: 'Poppins', sans-serif
  line-height: 2
