@import mixins
@import variables
.btn
  display: inline-flex
  justify-content: center
  align-items: center
  background: none
  border: none
  outline: none
  text-decoration: none
  cursor: pointer
  transition: transform .3s, color .3s, background-color .3s
  &_large
    padding: 2.1em 3.56em
    font-size: 1.13rem
    font-weight: 500
    line-height: 1.33
    &:hover
      transform: scale(1.1)
  &_blue
    background: $blue
    color: #fff
    &:hover
      background: $grey-3
      color: $blue
  &_social
    width: 3em
    height: 3em
    font-size: 1rem
    font-weight: 600
    line-height: 1.5
    border-radius: 50%
    &:hover
      transform: scale(1.3)
  &_sandwich
    width: 3em
    height: 3em
    position: fixed
    top: 3rem
    right: 3rem
    background: $blue
    border-radius: 50%
    z-index: 99
    &-line
      width: 1.4rem
      height: 1px
      position: absolute
      left: 50%
      top: 50%
      margin: -1px 0 0 -.7rem
      background: #fff
      transition: .3s
      &:nth-child(1)
        transform: translateY(-4px)
      &:nth-child(3)
        transform: translateY(4px)
    &.active
      .btn_sandwich-line
        &:nth-child(1)
          transform: rotate(45deg)
        &:nth-child(2)
          transform: scale(0)
        &:nth-child(3)
          transform: rotate(135deg)
    +miw(992)
      display: none
