@import variables
@import mixins
.cite
  max-width: 49.06rem
  margin: 0 auto
  text-align: center
  &__slider
    padding: 6rem 4.38rem
    &-prev
      display: none
      +miw(768)
        display: block
        position: absolute
        top: 50%
        left: 0
        margin-top: -2.19rem
        transition: .3s
        z-index: 1
      &:hover
        filter: brightness(2)
      &-icon
        width: 4.38rem
        height: 4.38rem
        object-position: center
        object-fit: contain
    &-next
      display: none
      +miw(768)
        display: block
        position: absolute
        top: 50%
        right: 0
        margin-top: -2.19rem
        transition: .3s
        z-index: 1
      &:hover
        filter: brightness(2)
      &-icon
        width: 4.38rem
        height: 4.38rem
        object-position: center
        object-fit: contain
    .swiper-pagination
      +miw(768)
        display: none
      &-bullet
        background: #fff
        opacity: .5
        &-active
          opacity: 1
  &__icon
    width: 5.19rem
    height: 3.63rem
    margin-bottom: 2.13rem
    object-position: center
    object-fit: contain
  &__title
    margin-bottom: .56em
    font-size: 2.25rem
    font-weight: 600
    line-height: 1.11
    color: $gold
  &__description
    margin-bottom: 2.5em
    font-size: 1rem
    line-height: 2.5
  &__author
    font-size: 1.5rem
    font-weight: 600
    line-height: 1.67
    letter-spacing: 0.245em
    text-transform: uppercase
    color: $gold
  &-wrapper
    padding-top: 7.75rem
    padding-bottom: 7.75rem
