@import variables
@import mixins
.contacts
  &__list
    padding: .38rem 0
    list-style: none
  &__map
    width: 100%
    height: 34.19rem
    +miw(992)
      grid-column: 1 / span 2
  &-wrapper
    display: grid
    grid-gap: 3.13rem 5rem
    padding-top: 6.31rem
    +miw(992)
      grid-template-columns: repeat(2, 1fr)
    +miw(1200)
      grid-template-columns: 1fr 41.86rem
    .section__content-title
      margin-bottom: .6em
.contact
  display: grid
  grid-template-areas: "icon title" "icon description"
  grid-template-columns: auto 1fr
  grid-column-gap: 1em
  font-size: 1rem
  line-height: 1.5
  &:not(:last-child)
    margin-bottom: 2.5em
  &:last-child
    margin-top: 3.5em
  &__icon
    grid-area: icon
    width: 4rem
    height: 4rem
    padding: 1.25rem
    object-position: center
    object-fit: contain
    background: $gold
    border-radius: 50%
  &__title
    grid-area: title
  &__description
    grid-area: description
    font-size: 1.5em
    font-weight: 500
    line-height: 1.33
    text-decoration: none
    color: inherit
