@import mixins
.footer
  width: 100%
  position: absolute
  left: 0
  bottom: 0
  padding-bottom: 1.25rem
  z-index: 2
  &__content
    display: flex
    justify-content: center
    align-items: center
    grid-gap: 1.56rem
    width: 100%
    max-width: 468px
    margin: 0 auto
    padding: 0 20px
    +miw(768)
      padding: 0
    +miw(992)
      max-width: 624px
    +miw(1200)
      max-width: 1168px
    &-logo
      margin-right: auto
      img
        width: 16.81rem
        object-position: left center
        object-fit: contain
    .btn_social
      color: #000
      border: #000 1px solid
      &:hover
        background: #000
        color: #fff
