@import variables
@import mixins
.form
  display: grid
  grid-gap: 1.25rem 1.19rem
  label
    span
      display: inline-block
      margin-bottom: .63em
      font-size: 1rem
      line-height: 2
  input
    width: 100%
    padding: 1.69em .94em
    font-family: inherit
    font-size: 1rem
    line-height: 1.5
    border: $grey-2 1px solid
  textarea
    width: 100%
    height: 7.81em
    padding: 1.69em .94em
    font-family: inherit
    font-size: 1rem
    line-height: 1.5
    border: $grey-2 1px solid
  button
    width: 11.25em
    max-width: 100%
    padding: 1.58em
    font-size: 1.5rem
    font-weight: 500
    line-height: 1
    background: $blue
    color: #fff
    transition: transform .3s, color .3s, background-color .3s
    cursor: pointer
    &:hover
      background: $grey-3
      color: $blue
      transform: scale(1.1)
  &-2-columns
    display: grid
    grid-gap: inherit
    +miw(768)
      grid-template-columns: repeat(2, 1fr)
+placeholder
  color: $grey-1
