@import mixins
@import variables
.gallery
  &__slider
    margin-top: 3.125rem
    &-prev
      display: none
      +miw(768)
        display: block
        position: absolute
        bottom: 0
        right: 6.25rem
        transition: .3s
        z-index: 1
      &:hover
        filter: brightness(2)
      &-icon
        width: 4.38rem
        height: 4.38rem
        object-position: center
        object-fit: contain
    &-next
      display: none
      +miw(768)
        display: block
        position: absolute
        bottom: 0
        right: 0
        transition: .3s
        z-index: 1
      &:hover
        filter: brightness(2)
      &-icon
        width: 4.38rem
        height: 4.38rem
        object-position: center
        object-fit: contain
    .swiper-pagination
      +miw(768)
        display: none
      &-bullet
        background: #fff
        opacity: .5
        &-active
          opacity: 1
  &__photo
    width: 100%
    object-position: center
    object-fit: cover
  &-wrapper
    position: relative
    padding-top: 4.75rem
    z-index: 2
