@import mixins
.header
  +miw(1200)
    display: grid
    justify-items: center
    color: #fff
  &__img
    width: 100%
    max-width: 428px
    object-position: center
    object-fit: cover
    +miw(768)
      max-width: 468px
    +miw(992)
      max-width: 624px
    +miw(1200)
      max-width: none
      height: 901px
    &-wrapper
      display: block
      text-align: center
      +miw(1200)
        grid-column-start: 1
        grid-row-start: 1
  &__content
    width: 100%
    max-width: 468px
    margin: 0 auto
    padding: 27px 20px 0
    +miw(768)
      padding: 65px 0 0
    +miw(992)
      max-width: 624px
      padding-top: 86px
    +miw(1200)
      grid-column-start: 1
      grid-row-start: 1
      max-width: 1168px
      position: relative
      padding-top: 264px
    &-title
      margin-bottom: .625em
      font-size: 2.78rem
      font-weight: 700
      line-height: 1.375
      +miw(1200)
        font-size: 4rem
    &-description
      margin-bottom: 1em
      font-size: 1.1rem
      font-weight: 500
      line-height: 1.33
      font-feature-settings: 'pnum' on, 'lnum' on
      letter-spacing: .06em
      text-transform: uppercase
      +miw(1200)
        font-size: 1.5rem
    &-buttons
      display: flex
      justify-content: flex-end
      align-items: center
      grid-gap: 1.22rem
      margin-bottom: 1.74rem
      .btn:first-child
        margin-right: auto
      .btn_social
        color: #000
        border: #000 1px solid
        &:hover
          background: #000
          color: #fff
        +miw(1200)
          color: #fff
          border: #fff 1px solid
          &:hover
            background: #fff
            color: #000
      +miw(1200)
        grid-gap: 1.56rem
        margin-bottom: 2.5rem
