@import mixins
@import variables
.menu
  width: 100%
  max-width: 32rem
  height: 100%
  position: fixed
  top: 0
  left: 100%
  padding: 4rem
  color: #000
  background: #fff
  transition: transform .3s
  z-index: 98
  &.show
    box-shadow: 0 0 3rem rgba(0, 0, 0, .15)
    transform: translateX(-100%)
    +miw(992)
      box-shadow: none
      transform: none
  +miw(992)
    max-width: none
    height: auto
    position: absolute
    right: auto
    left: 0
    padding: 4rem 0 0
    background: none
    transition: none
  +miw(1200)
    color: #fff
  &__content
    display: flex
    flex-direction: column
    grid-gap: 2.81rem
    width: 100%
    max-width: 468px
    margin: 0 auto
    padding: 0 20px
    +miw(768)
      padding: 0
    +miw(992)
      flex-direction: row
      justify-content: center
      align-items: center
      max-width: 624px
    +miw(1200)
      max-width: 1168px
    &-logo
      +miw(992)
        margin-right: auto
      img
        width: 16.81rem
        object-position: left center
        object-fit: contain
    &-link
      font-size: 1rem
      line-height: 1.5
      text-decoration: none
      color: inherit
      transition: color .3s
      &:hover
        color: $gold
        text-decoration: underline
    &-phone
      display: inline-flex
      align-items: center
      grid-gap: .69em
      font-size: 1rem
      line-height: 1.5
      text-decoration: none
      color: inherit
      +miw(992)
        margin-left: auto
      &-icon
        width: 1.5rem
        height: 1.5rem
        object-position: center
        object-fit: contain
