.modal
  background: #fff
  padding: 3rem
  &-wrapper
    width: 100%
    height: 100%
    position: fixed
    left: 0
    top: 0
    background: rgba(0, 0, 0, .6)
    z-index: 999
    &.show
      display: flex
      justify-content: center
      align-items: center
