@import mixins
@import variables
.section
  &__content
    width: 100%
    max-width: 468px
    margin-right: auto
    margin-left: auto
    padding-left: 20px
    padding-right: 20px
    +miw(768)
      padding-left: 0
      padding-right: 0
    +miw(992)
      max-width: 624px
    +miw(1200)
      max-width: 1168px
    &-title
      font-size: 3rem
      font-weight: 700
      line-height: 1.5
    &-paragraph
      font-size: 1rem
      line-height: 2
  &_blue
    background: $blue
    color: #fff
  &_gallery
    position: relative
    color: #fff
    z-index: 1
    &:after
      content: ''
      display: block
      width: 100%
      height: 32rem
      position: absolute
      left: 0
      top: 0
      background: $blue
      z-index: -1
      +miw(768)
        height: 36rem
      +miw(1200)
        height: 37.81rem


