@import mixins
@import variables
.service
  display: grid
  grid-template-areas: "photo" "content"
  align-items: center
  grid-gap: 1.88rem
  +miw(992)
    grid-template-areas: "content photo"
    grid-template-columns: 1fr 41.86rem
  &:nth-child(even)
    +miw(992)
      grid-template-areas: "photo content"
      grid-template-columns: 41.86rem 1fr
  &:not(:last-child)
    margin-bottom: 1.88rem
  &__photo
    width: 100%
    &-wrapper
      grid-area: photo
  &__content
    grid-area: content
    &-title
      position: relative
      margin-bottom: .5em
      font-size: 2.5rem
      font-weight: 700
      line-height: 2.2
      text-transform: uppercase
      &:after
        content: ''
        display: block
        width: 2.7em
        height: 2px
        position: absolute
        left: -1.35em
        bottom: -.125em
        background: $gold
    &-description
      font-size: 1rem
      line-height: 2
      color: $grey-1
  &-wrapper
    padding-top: 6.81rem
    padding-bottom: 5rem

