@import variables
@import mixins
.week-menu
  list-style: none
  &__item
    border-bottom: $grey-3 1px solid
    font-size: 1.125rem
    line-height: 1.78
    &:not(:last-child)
      margin-bottom: 1.11em
    &-title
      margin-bottom: .42em
      font-size: 1.5rem
      font-weight: 600
      line-height: 1.33
    &-description
      display: flex
      align-items: center
      grid-gap: .67em
      margin-bottom: 1.11em
      &-dot
        flex: 0 0 .28em
        height: .28em
        background: $gold
        border-radius: 50%
  &__collage
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-gap: 1.38rem
    position: relative
    z-index: 1
    &:before
      content: ''
      width: 70%
      height: 79%
      position: absolute
      left: 15%
      top: 7%
      border: $gold 2px solid
      z-index: -1
    &-img
      width: 100%
      object-position: center
      object-fit: cover
      &-wrapper:first-child
        margin-top: 47%
  &-wrapper
    display: grid
    grid-gap: 5rem 2rem
    align-items: start
    padding-top: 5rem
    padding-bottom: 5.625rem
    +miw(992)
      grid-template-columns: 1fr 38rem
    +miw(1200)
      grid-template-columns: 1fr 41.75rem
